    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Getting to know me better.</h2>
                <p>Hi there. I am an aspiring Software Engineer, with a B.S. in Engineering. Romanian-born and living in New York, USA. I have immigrated here by winning the Green Card lottery.</p>
                <p>I am a driven individual with a thirst for knowledge and self-improvement. Working on projects with great impact is the kind of opportunity that I'm looking for.</p>
                <p>My engineering background helps me to always seek excellence and quality. My specialty is Java programming</p>
                <p>If interested in a collaboration, there are a variety of methids that you can use to contact me. E-mail would be the most straightforward option</p>
            </div>
        </div>
    </section>
